<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Frigerio Mercado Liebre</title>
</head>
<body class=" bgc-gris">
    <header class=" bgc-amarillo w-100 ta-center fs-12 " >
        <div class="flex fx-wr"> 
            <img class=" alg-i-start w-50 w-33" src="/images/logo-mercado-liebre.svg"> 
            <div class="alg-i-start w-50 w-33 ta-center ">
                <form class="search-box "><input type="text">
                <button type ></button><i class="fa-solid fa-magnifying-glass"></i></form>

            </div>
            <p class="alg-i-start w-50 flex-g ta-center w-33"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        

         
        
       

        <nav class="flex fx-wr mg-20 pb-20">
            <ul class="flex w-50  d-none-descripcion cont ta-left flex-g ls-none" >
            <li class="alg-i-end"><a href ="www.google.com">Ofertas</a></li>
            <li class="alg-i-end mx-left-10"><a href ="www.google.com">Tiendas Oficiales</a></li>
            <li class="alg-i-end mx-left-10"><a href ="www.google.com">Vender</a></li>
            <li class="alg-i-end  mx-left-10"><a href ="www.google.com">Ayuda</a></li>
            </ul>
            

            <ul class="flex w-50 just-cont-end  d-none-descripcion cont ta-right ls-none">
            <li class="alg-i-end"><a href ="/register">Creá tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
            <li class="alg-i-end mx-left-10"><a href ="/login">Ingresá </a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
            <li class="alg-i-end mx-left-10"><a href ="www.google.com">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
            <p class="w-50 ta-center flex-g d-none-hamb">           
                 <i class="fas fa-bars imagen-burguer fs-18 .ta-center width-35 h-35 br-5 color-w bgc-celeste p-10 "  ></i>


            </p>
        
            
    </nav>
    </header>    
    <img class=" ta-center w-100" src="/images/img-home-banner.jpg">
    <main class="width-90 ta-center">
        <h3 class="fs-24">Basado en tu ultima visita</h3>    
        <section class="contenedor-inicial"> 
        <article class="contenedor-articulo ">
            <img class= "w-100" src="/images/img-cafetera-moulinex.jpg">
            <div class="contenedor-producto">
                <i class="fa-solid fa-truck color-verde product-delivery-icon"></i>
                <div class="contenedor-precio-prod">                    
                <p class="fs-18 caja-precio">$6.770</p>
                <p class="fs-16 color-verde caja-descuento">40% OFF</p>
                </div>       
                <p class="fs-16 desc-oculta d-none-descripcion ">Cafetera Moulinex</p>
            </div>
        </article>
        <article class="contenedor-articulo ">
            <img class= "w-100" src="/images/img-macbook-pro-2019.jpg">
            <div class="contenedor-producto">
                <i class="fa-solid fa-truck color-verde product-delivery-icon"></i>
                <div class="contenedor-precio-prod">                    
                    <p class="fs-18 caja-precio">$6.770</p>
                    <p class="fs-16 color-verde caja-descuento">20% OFF</p>
                </div>  
                <p class="fs-16 d-none-descripcion">MacBook Pro 2019</p>
            </div>  
        </article>

        <article class="contenedor-articulo ">
            <img class= "w-100"src="/images/img-samsung-galaxy-s10.jpg">
            <div class="contenedor-producto">
                <i class="fa-solid fa-truck color-verde product-delivery-icon"></i>                
                <div class="contenedor-precio-prod">                    
                    <p class="fs-18 caja-precio">$70.500</p>
                    <p class="fs-16 color-verde caja-descuento">10% OFF</p>
                    </div>       
                <p class="fs-16 d-none-descripcion">Samsung Galaxy S10</p>
            </div>       
        </article>

        <article class="contenedor-articulo">
            <img class= "w-100"src="/images/img-tv-samsung-smart.jpg">
            <div class="contenedor-producto">
                <i class="fa-solid fa-truck color-verde product-delivery-icon"></i>
                <div class="contenedor-precio-prod">                    
                <p class="fs-18 caja-precio">$23.200</p>
                <p class="fs-16 color-verde caja-descuento">5% OFF</p>
                </div>       
                <p class="fs-16 d-none-descripcion">SmartTv Samsung 43"</p>
            </div>
        </article>

    </section>

    <h3 class="fs-24">Ofertas</h3>
    <section class="contenedor-inicial"> 
        <article class="contenedor-articulo">
            <img class= "w-100"src="/images/img-cafetera-moulinex.jpg">
            <div class="contenedor-producto">
                <i class="fa-solid fa-truck color-verde product-delivery-icon"></i>
                <div class="contenedor-precio-prod">                    
                <p class="fs-18 caja-precio">$6.770</p>
                <p class="fs-16 color-verde caja-descuento">40% OFF</p>
                </div>       
                <p class="fs-16 letras-color d-none-descripcion">Cafetera Moulinex</p>
            </div>
        </article>

        <article class="contenedor-articulo">
            <img class= "w-100"src="/images/img-macbook-pro-2019.jpg">
            <div class="contenedor-producto">
                <i class="fa-solid fa-truck color-verde product-delivery-icon"></i>
                <div class="contenedor-precio-prod">                    
                <p class="fs-18 caja-precio">$230.000</p>
                <p class="fs-16 color-verde caja-descuento">20% OFF</p>
                </div>       
                <p class="fs-16  d-none-descripcion">MacBook Pro 2019</p>                
            </div>
        </article>

        <article class="contenedor-articulo">
            <img class= "w-100"src="/images/img-samsung-galaxy-s10.jpg">
            <div class="contenedor-producto">
                <i class="fa-solid fa-truck color-verde product-delivery-icon"></i>
                <div class="contenedor-precio-prod">                    
                <p class="fs-18 caja-precio">$70.500</p>
                <p class="fs-16 color-verde caja-descuento">10% OFF</p>
                </div>       
                <p class="fs-16 d-none-descripcion">Samsung Galaxy S10</p>
            </div>
        </article>
        <article class="contenedor-articulo">
            <img class= "w-100"src="/images/img-tv-samsung-smart.jpg">
            <div class="contenedor-producto">  
                <i class="fa-solid fa-truck color-verde product-delivery-icon"></i>
                <div class="contenedor-precio-prod">                    
                <p class="fs-18 caja-precio">$23.200</p>
                <p class="fs-16 color-verde caja-descuento">5% OFF</p>
                </div>        
                <p class="fs-16 d-none-descripcion">SmartTv Samsung 43"</p>
            </div>
        </article>

    </section>
</main>
</body>
<footer >
    <section class="flex mg-20">
        <article>
            <div class="estilo-icono-footer">
                <i class="fa-solid fa-credit-card"></i>
            </div>
        
            <h4></i>Pagá con tarjeta o en efectivo</h4>
            <p class="fs-12">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

        </article>
        <article>
            <div class="estilo-icono-footer">
                <i class="fa-solid fa-gift"></i>
            </div>
            
            <h4>Envío gratis desde $ 2.500</h4>
            <p class="fs-12">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>

        </article>
        <article>
            <div class="estilo-icono-footer">
                <i class="fa-solid fa-user-shield" ></i>
    
            </div>
            
            <h4>Seguridad, de principio a fin</h4>
            <p class="fs-12">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
        </article>

    </section>
        
    <section><h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4></section>

</footer>
</html>