<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Frigerio Mercado Liebre</title>
</head>
<body class=" bgc-gris">
    <header class=" bgc-amarillo w-100 ta-center fs-12 " >
        <div class="flex fx-wr"> 
            <img class=" alg-i-start w-50 w-33" src="/images/logo-mercado-liebre.svg"> 
            <div class="alg-i-start w-50 w-33 ta-center ">
                <form class="search-box "><input type="text">
                <button type ></button><i class="fa-solid fa-magnifying-glass"></i></form>

            </div>
            <p class="alg-i-start w-50 flex-g ta-center w-33"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        

         
        
       

        <nav class="flex fx-wr ">
            <ul class="flex w-50  d-none-descripcion cont ta-left flex-g ls-none" >
            <li class="alg-i-end"><a href ="www.google.com">Ofertas</a></li>
            <li class="alg-i-end mx-left-10"><a href ="www.google.com">Tiendas Oficiales</a></li>
            <li class="alg-i-end mx-left-10"><a href ="www.google.com">Vender</a></li>
            <li class="alg-i-end  mx-left-10"><a href ="www.google.com">Ayuda</a></li>
            </ul>
            

            <ul class="flex w-50 just-cont-end  d-none-descripcion cont ta-right ls-none">
            <li class="alg-i-end"><a href ="/register">Creá tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
            <li class="alg-i-end mx-left-10"><a href ="/login">Ingresá </a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
            <li class="alg-i-end mx-left-10"><a href ="www.google.com">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
            <p class="w-50 ta-center flex-g d-none-hamb">           
                 <i class="fas fa-bars imagen-burguer fs-18 .ta-center width-35 h-35 br-5 color-w bgc-celeste p-10 "  ></i>


            </p>
        
            
    </nav>
    </header>
    <main class="width-90  fs-16  ">
        <form action="/registrer.html" method="post">
            <div class="formato-formulario">
                <label for="nombre">Nombre y Apellido</label>
                <input class="w-100" type="text" name="nombre" id="nombre">
                <span class="feedback"></span>
            </div>

            <div class="formato-formulario">
                <label  for="nac">Fecha de nacimiento</label>
                <input  type="date" name="nac" id="nac">
                <span class="feedback"></span>
            </div>
            
            

            <div class="formato-formulario">
                <label for="direccion">Domicilio</label>
                <input class="w-100" type="text" name="direccion" id="direccion">
                <span class="feedback"></span>
            </div>

            <div class="formato-formulario">
                <label  for="perfil">Categorias de Interes
                    <div >
                        <input type="checkbox" name="perfil" id="perfil">Electro
                         <input type="checkbox" name="perfil" id="perfil"> Moda
                         <input type="checkbox" name="perfil" id="perfil">Hogar
                         <input type="checkbox" name="perfil" id="perfil"> Jugueteria
                         <input type="checkbox" name="perfil" id="perfil">Vida sana
                    </div>
                </label>
                
            </div>

            <div class="formato-formulario">
                <label for="perfil">Perfil del usuario
                    <div>
                        <input type="radio" name="perfil" id="perfil"> comprar
                        <input type="radio" name="perfil" id="perfil">vender

                    </div>
                </label>
            </div>

            <div class="formato-formulario">
                <label for="foto">Foto del usuario</label>
                <input type="file" name="foto" id="foto" acept=".jpg" multiple>                
                <span class="feedback"></span>
            </div>

            <div class="formato-formulario">
                <label for="contraseña">Contraseña</label>
                <input type="password" name="contraseña" id="contraseña">                
                <span class="feedback"></span>
            </div>            
            
            <div class="formato-formulario">
                <button class="bgc-celeste color-w" type="submit">Enviar</button> 
                <button class="bgc-celeste color-w" type="reset">Borrar</button>
            </div>        
                   
        </form>

    </main>
</body>

    